$bg-color: #2c3e50;
$hover-color: #16a085;
$text-color: #ffffff;
$hover-color2: #a1a4aa;


h1{
  color: $text-color;
  padding: 100px;
}
#divspecs{
  padding: 10px;
  margin-right: 25%;
  margin-left: 25%;
}