$bg-color: #2c3e50;
$hover-color: #009aa0;
$text-color: #ffffff;
$hover-color2: #a1a4aa;

nav{

  ul{
    background: $bg-color;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
  }
  li{
    display: inline-block;
  }
  a{
    color: $text-color;
    display: inline-block;
    padding: 10px 16px;
    text-decoration: none;
  }
  a:hover{
    background: $hover-color;
  }
}

body {
  font-family: "Tw Cen MT", sans-serif;
  coffee-list {
    div {
      padding-top: 50px;
      padding-bottom: 50px;
      img{
        padding-left: 30px;
        padding-bottom: 30px;
      }
        .coffee {
          text-align: right;
          padding-right: 30px;
          text-decoration: none;
        }
        a {
          padding-right: 30px;
          color: $hover-color;
          float: right;
        }
      }
      #cmain:hover {
        background-color: #ff601a;
        opacity: 0.65;
      }
    }
  }
.bgimg {
  opacity: 0.9;
  position: relative;
}
#main {
  background-color: #eeeeee;
  margin-right: 350px;
  margin-left: 350px;
}
.thumbnail {
    position: relative;
    overflow: hidden;
    align-items: left;
    height: 10%;
    width: 10%;
}
#search{
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}